.row{
    border-top: .1rem solid lightgray;
}



.col-1-of-2{
    float: left;
    width: 50%;
    padding-top:2rem ;

}
.col-2-of-2{
    float: right;
    width: 50%;
    height: 29rem;
    background-color: #e4ebe5;
}

